
@import "index.css";

body{
  background-color: #2C3940;
  background: #2C3940 url('../imgs/bg.gif') repeat 0 0;
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: 100%;
  position: relative;
}
